/*Обнуление*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;

}
html, 
body {
    height: 100%;
    line-height: 1;
}

body {
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: gray;
  min-height: 100%;
}



.header {
    display: flex;
    align-items: center;
    background-color: #1B242F;
    height: 2.5em;
    min-height: 100%;
    max-height: 100vh;
    border-bottom: solid .3em #18A7B5;   
}

.main {
  flex: 1 1 auto;
  padding-top: 200px;
}

.footer {
  border: solid 3px #18A7B5;
}


a {
    color: white;
    font-size: 25px;
    margin-left: 2em;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

a:hover {
  color: #FF7170;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

img {
  display: block;
  margin: 10px auto;
  border: solid 3px #18A7B5;
}

